body{
    background-color: black;
}


.heading{
    color: aquamarine;
    text-align: center;
    font-size: 150px;
}
p{
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
}
div{
    text-align: center;
    padding: 10px;
    
}
button{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    border-color: black;
    
}